---
import Layout from "../../layouts/Layout.astro";
import { Pagination } from "accessible-astro-components";
import Post from '../../components/Post.astro';

// const title = 'Blog';
// const description = 'Latest articles.';
// const permalink = `${Astro.site.href}blog`;
export async function getStaticPaths({ paginate }) {
  let allPosts = await Astro.glob("./**/*.md");
  // TODO: Must be a better way, this is odd?

  // allPosts = allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
  // console.log(allPosts);
  return paginate(allPosts, {
    pageSize: 50,
  });
}
const { page } = Astro.props;
// const params = Astro.params;
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Writing</h1>
    <!-- Pass your post data into a custom component, or display it on the page -->
    <!-- TODO: Set type explicitly -->
    <!-- TODO: Body summary -->
    <!-- TODO: Else? -->
    <ul>
      {
        page.data.map((post) => (
          <>
              <Post
                href={post.url}
                title={post.frontmatter.title}
                body={post.body}
                date={post.frontmatter.date}
                publication_url={post.frontmatter.publication_url}
              />
            
            </>
        ))
      }
    </ul>
<!-- TODO: Index page -->
    <Pagination
      firstPage={page.url.prev ? "/posts/1" : null}
      previousPage={page.url.prev ? page.url.prev : null}
      nextPage={page.url.next ? page.url.next : null}
      lastPage={page.url.next
        ? `/posts/${Math.round(page.total / page.size)}`
        : null}
      currentPage={page.currentPage}
      totalPages={Math.round(page.total / page.size)}
    />
  </main>
</Layout>
