---
import Layout from '~/layouts/PageLayoutNoBG.astro';
import Headline from '~/components/blog/Headline.astro';
import { PODCAST } from '~/config.mjs';
import Podcast from '~/components/Podcast.astro';
import { XMLParser } from 'fast-xml-parser';
import { Pagination } from 'accessible-astro-components';
import Content from '~/components/widgets/Content.astro';
import showImage from '../../../assets/images/www-thumb.png';

// TODO: Feels odd to duplicate calls to API for generating each individual items and the pagination?
export async function getStaticPaths({ paginate }) {
  const options = {
    ignoreAttributes: false,
    attributeNamePrefix: 'att_',
    removeNSPrefix: true,
  };
  const parser = new XMLParser(options);
  //TODO: As the content list is fed from the feed it renders using Astro content collections moot. Is there a better way?
  const feedTest = await fetch('https://anchor.fm/s/ef311c90/podcast/rss');
  let rssFeedData = await feedTest.text();
  let parsedFeed = await parser.parse(rssFeedData);
  const allEpisodes = parsedFeed.rss.channel.item;
  return paginate(allEpisodes, {
    pageSize: PODCAST.postsPerPage,
  });
}

const { page } = Astro.props;
const meta = {
  title: 'Whisky, Words, & Wit',
  description:
    "My podcast with Mustafa Keksin, where we get together, drink whisk(e)y and discuss life, writing, and the trials and tribulations of getting old. Along the way there's jokes, stories, and more.",
  // canonical: post.canonical || url,
  // image: await findImage(post.image),
  // noindex: BLOG?.post?.noindex,
  // ogType: 'article',
};
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-6 sm:py-6 lg:py-6 mx-auto max-w-4xl">
    <Headline subtitle={meta.description}>
      {meta.title}
    </Headline>
    <Content
      isReversed
      items={[
        {
          link: 'https://open.spotify.com/show/1QX3mnRpixOPcfIVo7BVHL',
          icon: 'simple-line-icons:social-spotify'
        },
        {
          link: 'https://podcasts.apple.com/us/podcast/whisky-and-waffle/id1722101901',
            icon: 'simple-icons:applepodcasts'
        },
        {
          link: 'https://music.amazon.com/podcasts/8cfb01a0-17de-4cf8-b8eb-7e32e4382c93/whisky-and-waffle',
            icon: 'simple-icons:amazonmusic'
        },
        {
          link: 'https://pca.st/ien9oemd',
            icon: 'simple-icons:pocketcasts'
        },
      ]}
      image={{
        src: showImage,
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>

    <ul>
      {
        page.data.map((episode) => (
          <>
            <li class="mb-12 md:mb-20">
              <Podcast podcast={episode} />
            </li>
          </>
        ))
      }
    </ul>

    <Pagination
      firstPage={page.url.prev ? '/podcast' : null}
      previousPage={page.url.prev ? page.url.prev : null}
      nextPage={page.url.next ? page.url.next : null}
      lastPage={page.url.next ? `/podcast/${Math.round(page.total / page.size)}` : null}
      currentPage={page.currentPage}
      totalPages={Math.round(page.total / page.size)}
    />
  </section>
</Layout>
