---
import Layout from '~/layouts/PageLayoutNoBG.astro';
import Headline from '~/components/blog/Headline.astro';
import Post from '~/components/Post.astro';
import { getCollection } from 'astro:content';
import { groupTagsBySlug } from '~/utils/permalinks';
import { BLOG } from '~/config.mjs';

// TODO: Paginate 😱
export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  const allTags = allPosts.map((post) => post.data.tags ?? []).flat();
  const slugToTags = groupTagsBySlug(allTags);

  return [...slugToTags.entries()].map(([slug, originalTags]) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags?.some((t) => originalTags.has(t))
    );
    const displayTag = [...originalTags].sort()[0];
    return {
      params: { tag: slug },
      props: { posts: filteredPosts, originalTag: displayTag },
    };
  });
}

const { posts, originalTag } = Astro.props;
const meta = {
  title: originalTag,
  description: `Blog posts tagged with ${originalTag}`,
  noindex: BLOG?.tag?.noindex,
};
---

<Layout {meta}>
  <section class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
    <Headline subtitle={meta.description}>
      {meta.title}
    </Headline>
    <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3 -mb-6">
      {posts.map((post) => <Post post={post} />)}
    </div>
  </section>
</Layout>
