---
import { Icon } from 'astro-icon/components';
import { getPermalink } from '~/utils/permalinks';

interface Item {
  title?: string;
  description?: string;
  icon?: string;
  permalink: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  items: Array<Item>;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  items = [],
} = Astro.props;
---

<section id="shows">
  <div class="relative max-w-6xl mx-auto -mb-12">
    <div class="py-4 sm:py-6 lg:py-8">

      <div class={`grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 my-12 dark:text-white items-stretch`}>
        {
          items.map(({ title, description, icon, permalink }) => (
            <div class="relative flex flex-col p-6 bg-white/70 dark:bg-slate-900 rounded drop-shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
              <div class="flex items-center">
                <Icon name={icon} class="w-10 h-10" />
                <div class="ml-4 text-xl font-bold">{title}</div>
              </div>
              {description && <p class="text-gray-600 dark:text-gray-400 text-md mt-4 mb-8" set:html={description} />}
              <a
    href={getPermalink(permalink)}
    class="btn btn-primary font-btn sm:mb-0 w-full"
    >{title}</a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
