---
import { Icon } from 'astro-icon/components';
import { getHomePermalink, getPermalink, getAsset, getBlogPermalink } from '~/utils/permalinks';

const links = [
{
    text: 'About',
    links: [
      {
        text: 'Community & volunteering',
        href: getPermalink('/community'),
      },
    ],
  },
  {
    text: 'Writing',
    links: [
      {
        text: 'Blog',
        href: getBlogPermalink(),
      },
      {
        text: 'Books',
        href: getPermalink('/books'),
      },
    ],
  },
  {
    text: 'Work',
    links: [
    {
        text: 'Work with me',
        href: getPermalink('/contact'),
      },
      {
        text: 'CV',
        href: getPermalink('/cv'),
      },
      {
        text: 'Clients',
        href: getPermalink('/clients'),
      },
      {
        text: 'Games',
        href: getPermalink('/games'),
      },
    ],
  },
  {
    text: 'Audio & Video',
    links: [
    {
        text: 'Videos',
        href: getPermalink('/videos'),
      },
      { text: 'Podcast', href: getPermalink('/podcast') },
      {
        text: 'Courses',
        href: getPermalink('/courses'),
      }
    ],
  },
  { text: 'Support', href: getPermalink('/support') },
  { text: 'Events', href: getPermalink('/events') },
];

// TODO: What else here?
const social = [
  { label: 'RSS', icon: 'tabler:rss', href: getAsset('/rss.xml') },
  { label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/chrischinchilla' },
  { label: 'YouTube', icon: 'tabler:brand-youtube', href: 'https://www.youtube.com/channel/UCgnrx8qi4qhmN6sBebdDrmg' },
];
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
      <div class="col-span-12 lg:col-span-2">
        <div class="mb-2">
          <a class="inline-block text-xl" href={getHomePermalink()}>Chris Chinchilla</a>
        </div>
        <!-- <div class="text-sm text-gray-600">
          <a
            class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            href={getPermalink('/terms')}>Terms</a
          > ·
          <a
            class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
            href={getPermalink('/privacy')}>Privacy Policy</a
          >
        </div> -->
      </div>
      {
        links.map(({ text, links }) => (
          <div class="col-span-12 lg:col-span-3 xl:col-span-2">
            <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">{text}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href }) => (
                  <li class="mb-2">
                    <a
                      class="text-gray-600 hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                    >
                      {text}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
        {
          social.map(({ label, href, icon }) => (
            <li>
              <a
                class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                aria-label={label}
                href={href}
              >
                <Icon name={icon} class="w-5 h-5" />
              </a>
            </li>
          ))
        }
      </ul>

      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        <span
          class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 float-left rounded-sm"
        >
        </span>
        © Chris Chinchilla 2025
      </div>
    </div>
  </div>
</footer>
