---
import Layout from "../../layouts/Layout.astro";
import { Pagination } from "accessible-astro-components";
import Client from "../../components/Client.astro";

export async function getStaticPaths({ paginate }) {
  let allClients = await Astro.glob("./**/*.md");
  // TODO: Must be a better way, this is odd?
// TODO: Also currently not necessary as pages are sorted by date anyway due to file name
  // allPosts = allPosts.sort((b,a) => Date.parse(a.frontmatter.date) - Date.parse(b.frontmatter.date));
  console.log(allClients);
  return paginate(allClients, {
    pageSize: 50,
  });
}
const { page } = Astro.props;
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Clients</h1>
    <ul>
      {
        page.data.map((client) => (
          <>
          <Client
            company_url={client.frontmatter.company_url}
              name={client.frontmatter.title}
              // TODO: FUNCTION!!!!
              body={client.compiledContent()}
              featured_image={client.frontmatter.featured_image}
            />
          </>
        ))
      }
    </ul>
    <!-- TODO: Index page -->
    <Pagination
      firstPage={page.url.prev ? "/clients/1" : null}
      previousPage={page.url.prev ? page.url.prev : null}
      nextPage={page.url.next ? page.url.next : null}
      lastPage={page.url.next
        ? `/clients/${Math.round(page.total / page.size)}`
        : null}
      currentPage={page.currentPage}
      totalPages={Math.round(page.total / page.size)}
    />
  </main>
</Layout>
