---
import Layout from "~/layouts/PageLayout.astro";
import Headline from '~/components/blog/Headline.astro';

import Client from "../components/Client.astro";
import { getCollection } from 'astro:content';
const allClients = await getCollection('clients');

const meta = {
  title: "Clients",
  description: "Clients",
  // canonical: post.canonical || url,
  // image: await findImage(post.image),
  // noindex: BLOG?.post?.noindex,
  // ogType: 'article',
};
---
<Layout {meta}>
    <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
  
      <Headline
        subtitle={meta.description}
      >
        {meta.title}
      </Headline>
    <ul>
      {
        allClients.map((client) => (
        <li class="mb-12 md:mb-20">
          <Client
            client={client}
            company_url={client.data.company_url}
            name={client.data.title}
            image={client.data.image}
            body={client.body}
            />
        </li>
        ))
      }
    </ul>
</section>
</Layout>