---
import Layout from "~/layouts/PageLayoutNoBG.astro";
import Link from "../components/Link.astro";
import Headline from '~/components/blog/Headline.astro';

var groupBy = function<TItem>(xs: TItem[], key: string) : {[key: string]: TItem[]} {
  return xs.reduce(function(rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
  }, {});
};

const meta = {
  title: "Links",
  description: "TBD",
  // canonical: post.canonical || url,
  // image: await findImage(post.image),
  // noindex: BLOG?.post?.noindex,
  // ogType: 'article',
};

const links = await fetch(" https://api.raindrop.io/rest/v1/raindrops/45559645?sort=-created&search=%23nextissue", {
  method: "GET",
  headers: {
    "Authorization": `Bearer ${import.meta.env.RAINDROP}`,
  },
})
  .then((response) => response.json())
  .then((response) => Object.values(response.items))
  // .then((response) => groupBy(response,"tags"));

---
<Layout {meta}>
  <section class="px-6 sm:px-6 py-6 sm:py-6 lg:py-6 mx-auto max-w-4xl">
    <Headline
      subtitle={meta.description}
    >
      {meta.title}
    </Headline>
  <ul>
      {
        links.map((link) => (
        <li class="mb-12 md:mb-20">
            <Link
              title={link.title}
              link={link.link}
              excerpt={link.excerpt}
              image={link.cover}
              domain={link.domain}
              note={link.note}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
