---
import Layout from "~/layouts/PageLayoutNoBG.astro";
import Link from "../components/Link.astro";
import Headline from '~/components/blog/Headline.astro';

var groupBy = function<TItem>(xs: TItem[], key: string) : {[key: string]: TItem[]} {
  return xs.reduce(function(rv, x) {
    (rv[x[key]] = rv[x[key]] || []).push(x);
    return rv;
  }, {});
};

const meta = {
  title: "Links",
  description: "TBD",
  // canonical: post.canonical || url,
  // image: await findImage(post.image),
  // noindex: BLOG?.post?.noindex,
  // ogType: 'article',
};

const links = await fetch("https://getpocket.com/v3/get", {
  method: "POST",
  headers: {
    "Content-Type": "application/json; charset=utf-8",
  },
  body: JSON.stringify({
    consumer_key: `${import.meta.env.POCKET_CONSUMER}`,
    count: "50",
    state: "all",
    access_token: `${import.meta.env.POCKET_ACCESS}`,
    favorite: "1",
    sort: "newest",
  }),
})
  .then((response) => response.json())
  .then((response) => Object.values(response.list))
  // .then((response) => groupBy(response,"tags"));

---
<Layout {meta}>
  <section class="px-6 sm:px-6 py-6 sm:py-6 lg:py-6 mx-auto max-w-4xl">
    <Headline
      subtitle={meta.description}
    >
      {meta.title}
    </Headline>
  <ul>
      {
        links.map((link) => (
        <li class="mb-12 md:mb-20">
            <Link
              title={link.resolved_title}
              description={link.excerpt}
              link={link.resolved_url}
              image={link.top_image_url}
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
