---
import Layout from "~/layouts/PageLayoutNoBG.astro";
import Headline from '~/components/blog/Headline.astro';
import Podcast from "../components/Podcast.astro";
import {XMLParser, XMLBuilder, XMLValidator} from 'fast-xml-parser';
import xml2js from 'xml2js';
import { Debug } from 'astro/components';

const meta = {
  title: "Podcasts",
  description: "My pre-eminent podcast, Chinchilla Squeaks, has run for nearly eight years and taken me all over the globe. I have dabbled in other shows. They will be listed here again in the near future.",
  // canonical: post.canonical || url,
  // image: await findImage(post.image),
  // noindex: BLOG?.post?.noindex,
  // ogType: 'article',
};


  const parser = new XMLParser();
  const feedTest = await fetch(
  "https://feeds.zencastr.com/f/h5h0nhAi.rss"
);

const rssFeedData = await feedTest.text()
  .then((text) => parser.parse(text))
  .then((parsedFeed) => Object.values(parsedFeed.rss.channel.item));

// console.log(rssFeedData);
// const parsedFeed = parser.parse(rssFeedData);
// console.log(parsedFeed.rss.channel);
  // .then((response) => console.log(response.text()))
  // .then((str) => console.log(str))
  // .then((response) => Object.values(response.items));
//parser.parse(response)
---

<Layout {meta}>
  <section class="px-6 sm:px-6 py-6 sm:py-6 lg:py-6 mx-auto max-w-4xl">
    <Headline
      subtitle={meta.description}
    >
      {meta.title}
    </Headline>
  <ul>

{


        rssFeedData.map((podcast) => (
<Debug {podcast} />
        <li class="mb-12 md:mb-20">
            <Podcast
              name={podcast.title}
              description={podcast.description}
              id="t"
              embed="t"
            />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
