---
import { type CollectionEntry } from 'astro:content';
import ContentImage from '~/components/common/ContentImage.astro';
import { slugify } from '~/utils/slugify';
import { formatShortDate } from '~/utils/utils';
import { render } from 'astro:content';
export interface Props {
  book: CollectionEntry<"books">;
}
const { book } = Astro.props;
const { Content } = await render(book);
// const featured_image = await findImage(book.data.image);
// TODO: Why is slug broken again?

const formattedDate = formatShortDate(book.data.publish_date);
const idOfTitle = slugify(book.data.title);
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${book.data.image ? 'md:grid-cols-2' : ''}`}>
  <div
    class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hidden rounded drop-shadow-lg"
  >
  <ContentImage
    src={book.data.image}
    alt={book.data.title}
    type="book"
    class="absolute object-contain h-full mb-6 rounded drop-shadow-lg"
  />
  </div>

  <div class="mt-2">
    <header>
      <h2 class="text-xl sm:text-2xl font-semibold leading-tight mb-2 font-subheading" id={idOfTitle}>
        <a
              class="hover:text-primary transition ease-in duration-200"
              href=`${book.id}`
              rel="canonical"
            >
        {book.data.title}</a>
      </h2>
      <i class="my-2 block">{book.data.publisher}, {formattedDate}, {book.data.role}</i>
    </header>
    <div class="post-body body">
      <Content />
    {
      book.data.store_urls && (
        
          <b class="my-2 block">Buy a copy in the following places:</b>
          <ul class="list-disc list-inside m-2">
            {book.data.store_urls.map((store_url) => (
              <li>
                <a href={store_url.url}>{store_url.label}</a>
              </li>
            ))}
          </ul>
        
      )
          </div>
    }
  </div>
</article>
