---
import ImageComponent from '../components/ImageComponent.astro';
import { type CollectionEntry } from 'astro:content';
import Markdown from '@astrojs/markdown-component';
import truncateMarkdown from 'markdown-truncate';

export interface Props {
  client: CollectionEntry<'clients'>;
}
const { client } = Astro.props;
// const { Content } = await client.render();
// const featured_image = await findImage(client.data.image);

const truncatedBody = truncateMarkdown(client.body, {
  limit: 500,
  ellipsis: true,
});
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${client.data.image ? 'md:grid-cols-2' : ''}`}>
  <div class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hiddenrounded drop-shadow-lg">
    <ImageComponent
      imagePath={client.data.image}
      altText={client.data.title}
      classes="absolute object-contain h-full w-64 mb-6 rounded drop-shadow-lg"
    />
  </div>

  <div class="mt-2">
    <header>
      <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
        {
          client.data.company_url ? (
            <a
              class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
              href={client.data.company_url}
            >
              {client.data.title}
            </a>
          ) : (
            client.data.title
          )
        }
      </h2>
      <i class="my-2 block">{client.data.type}</i>
    </header>
    <!-- TODO: Seems kind of ridiculous -->
    <!-- TODO: Deprecated, need an alternative -->
    <div class="post-body body">
      <Markdown class="m-2" />{truncatedBody}
    </div>
  </div>
</article>
