---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
export interface Props {
  client: CollectionEntry<'clients'>;
}
const { client } = Astro.props;
---

<article
  class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 md:grid-cols-2 ${client.data.current === true ? 'opacity-100' : 'opacity-55'}`}
>
  <div class="relative md:h-72 max-w-6xl mx-auto rounded drop-shadow-lg mb-6">
    <Image
      src={client.data.image}
      alt={client.data.title}
      class="object-contain md:h-full mb-6 rounded drop-shadow-lg"
    />
  </div>

  <div class="mt-2">
    <header>
      <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
        {
          client.data.company_url ? (
            <a
              class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
              href={client.data.company_url}
            >
              {client.data.title}
            </a>
          ) : (
            client.data.title
          )
        }
      </h2>
      <i class="my-2 block">{client.data.type}</i>
    </header>
    <div class="post-body body">
      {client.body}
    </div>
  </div>
</article>
