---
import { Picture } from "@astrojs/image/components";

export interface Props {
  company_url: string;
  name: string;
  featured_image: string;
  body: string;
}

const { company_url, name, featured_image, body } = Astro.props;
// Truncate text
// TODO: Better way?
// TODO: Make to helper or plugin
var truncatedText = body.split("</p>");
---

<a href={company_url} class="cleanlink">
  <li class="link-card">
    <Picture
      src={featured_image}
      widths={[125, 200]}
      sizes="(max-width: 200px) 75vw, 200px"
      alt={name}
      aspectRatio="4:3"
      fit="inside"
    />
    <span class="column">
      <h2>
        {name}
      </h2>
      <p set:html={truncatedText[0]} />
    </span>
  </li>
</a>
