---
import ContentImage from '~/components/common/ContentImage.astro';
import { type CollectionEntry } from 'astro:content';
import Markdown from '@astrojs/markdown-component';
import { slugify } from '~/utils/slugify';
export interface Props {
  course: CollectionEntry<"av">;
}

const { course } = Astro.props;
// Format date
// TODO: Method
var rawDate = new Date(course.data.publish_date);
var formattedDate = rawDate.toLocaleString('en-GB', {
  dateStyle: 'short',
  timeZone: 'UTC',
});

var idOfTitle = slugify(course.data.title);
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${course.data.image ? 'md:grid-cols-2' : ''}`}>
  <div
    class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hiddenrounded drop-shadow-lg"
  >
      <ContentImage
        src={course.data.image}
        alt={course.data.title}
        type="av"
        class="absolute object-contain h-full mb-6 rounded drop-shadow-lg"
      />
    </div>
  
    <div class="mt-2">
      <header>
        <h2 class="text-xl sm:text-2xl leading-tight mb-2 font-heading dark:text-slate-300" id={idOfTitle}>
          {course.data.title}
        </h2>
        <i class="my-2 block">{course.data.client}, {formattedDate}</i>
      </header>
      <!-- TODO: Better way -->
      <!-- TODO: Deprecated, need an alternative -->
      <Markdown class="m-2" />{course.body}
      {
        course.data.store_urls && (
        
            <b class="my-2 block">Find the course in the following places:</b>
            <ul class="list-disc list-inside m-2">
              {course.data.store_urls.map((store_url) => (
                <li>
                  <a href={store_url.url}>{store_url.label}</a>
                </li>
              ))}
            </ul>
        
        )
      }
    </div>
  </article>
