---
import { CollectionEntry } from 'astro:content';
import { Markdown } from '@astrojs/markdown-component';
// import truncateMarkdown from 'markdown-truncate';

export interface Props {
  title: string;
  event: string;
  body: string;
  pres_url: string;
  start_date: Date;
  venue: string;
}

const { title, event, body, pres_url, start_date, venue} = Astro.props;
// const { Content } = await event.render();

var formatted_date = start_date.toLocaleDateString('en-GB', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
// Truncate text
// TODO: Better way?
// TODO: Make to helper or plugin
// var truncatedText = body.split("</p>");

//${image ? 'md:grid-cols-2' : ''

---
<article class="max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 md:grid-cols-2">
  <div class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hidden">
<h3 class="text-xl">
{formatted_date}, {venue}
</h3>
<a class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={pres_url}>
  {pres_url}
</a>
</div>
  
    <div class="mt-2">
      <header>
      <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
        {
          pres_url ? (
            <a class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={pres_url}>
              {title}
            </a>
          ) : (
            title
          )
        } @ {event}
      </h2>
      </header>
      <!-- TODO: Seems kind of ridiculous -->
      <Markdown of={body} />
        </div>

</article>