---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
import { slugify } from '~/utils/slugify';
export interface Props {
  game: CollectionEntry<'games'>;
}
const { game } = Astro.props;

// const { Content } = await game.render();
// const featured_image = await findImage(game.data.image);

var idOfTitle = slugify(game.data.title);
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${game.data.image ? 'md:grid-cols-2' : ''}`}>
  <div class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hiddenrounded drop-shadow-lg">
    <Image
      src={game.data.image}
      alt={game.data.title}
      class="absolute object-contain h-full w-64 mb-6 rounded drop-shadow-lg"
    />
  </div>

  <div class="mt-2">
    <header>
      <h2 class="text-xl sm:text-2xl leading-tight mb-2 font-heading dark:text-slate-300" id={idOfTitle}>
        {game.data.title}
      </h2>
      <i class="my-2 block">{game.data.role}</i>
    </header>
    <div class="post-body body">
      {game.body}
    </div>
    {
      game.data.store_urls && (
        
          <b class="my-2 block">Buy a copy in the following places:</b>
          <ul class="list-disc list-inside m-2">
            {game.data.store_urls.map((store_url) => (
              <li>
                <a href={store_url.url}>{store_url.label}</a>
              </li>
            ))}
          </ul>
        
      )
    }
  </div>
</article>
