---
import ImageComponent from '../components/ImageComponent.astro';
import { type CollectionEntry } from 'astro:content';
import Markdown from '@astrojs/markdown-component';
import truncateMarkdown from 'markdown-truncate';

export interface Props {
  game: CollectionEntry<'games'>;
}
const { game } = Astro.props;

// const { Content } = await game.render();
// const featured_image = await findImage(game.data.image);

// Truncate text
// TODO: Better way?
// TODO: Make to helper or plugin
// var truncatedText = body.split("</p>");

const truncatedBody = truncateMarkdown(game.body, {
  limit: 500,
  ellipsis: true,
});

// Format title for ID
// TODO: Method or better way
// Slugify a string
function slugify(str)
{
    str = str.replace(/^\s+|\s+$/g, '');

    // Make the string lowercase
    str = str.toLowerCase();

    // Remove accents, swap ñ for n, etc
    var from = "ÁÄÂÀÃÅČÇĆĎÉĚËÈÊẼĔȆÍÌÎÏŇÑÓÖÒÔÕØŘŔŠŤÚŮÜÙÛÝŸŽáäâàãåčçćďéěëèêẽĕȇíìîïňñóöòôõøðřŕšťúůüùûýÿžþÞĐđßÆa·/_,:;";
    var to   = "AAAAAACCCDEEEEEEEEIIIINNOOOOOORRSTUUUUUYYZaaaaaacccdeeeeeeeeiiiinnooooooorrstuuuuuyyzbBDdBAa------";
    for (var i=0, l=from.length ; i<l ; i++) {
        str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
    }

    // Remove invalid chars
    str = str.replace(/[^a-z0-9 -]/g, '') 
    // Collapse whitespace and replace by -
    .replace(/\s+/g, '-') 
    // Collapse dashes
    .replace(/-+/g, '-'); 

    return str;
}

var idOfTitle = slugify(game.data.title);
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${game.data.image ? 'md:grid-cols-2' : ''}`}>
  <div class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hiddenrounded drop-shadow-lg">
    <ImageComponent imagePath={game.data.image} altText={game.data.title}
    classes="absolute object-contain h-full mb-6 rounded drop-shadow-lg"
    /> 
  </div>

  <div class="mt-2">
    <header>
      <h2 class="text-xl sm:text-2xl leading-tight mb-2 font-heading dark:text-slate-300" id={idOfTitle}>
        {game.data.title}
      </h2>
      <i class="my-2 block">{game.data.role}</i>
    </header>
    <!-- TODO: Seems kind of ridiculous -->
    <!-- TODO: Deprecated, need an alternative -->
    <Markdown class="m-2" />{truncatedBody}
    {
      game.data.store_urls && (
        
          <b class="my-2 block">Buy a copy in the following places:</b>
          <ul class="list-disc list-inside m-2">
            {game.data.store_urls.map((store_url) => (
              <li>
                <a href={store_url.url}>{store_url.label}</a>
              </li>
            ))}
          </ul>
        
      )
    }
  </div>
</article>
