---
import { Image } from 'astro:assets';
// import { findImage } from '~/utils/images';
export interface Props {
  title: string;
  link: string;
  excerpt: string;
  image: string;
  domain: string;
  note: string;
}
const { title, link, excerpt, image, domain, note } = Astro.props;

// Default images
var src = '';
if (image != null) {
  src = image;
} else {
  src = '/images/default.png';
}
---

<div>
  <!-- <Picture
      src={src}
      widths={[250, 400]}
      sizes="(max-width: 400px) 75vw, 200px"
      alt={title}
      aspectRatio="4:3"
      fit="inside"
    /> -->
  <img src={src} />
  <h2 class="text-xl sm:text-2xl leading-tight mb-2 font-heading dark:text-slate-300">
    {title}
  </h2>
  <i class="my-2 block"><a href={link} class="cleanlink">{domain}</a></i>
  <p class="my-2" set:html={note} />
  <p class="my-2" set:html={excerpt} />
</div>
