---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
// import { findImage } from '~/utils/images';
export interface Props {
  link: CollectionEntry<'newsletters'>;
}
const { link } = Astro.props;
// Default images
var src = '';
if (link.cover != null) {
  src = link.cover;
} else {
  src = '/images/default.png';
}
---

<div>
  <!-- <Picture
      src={src}
      widths={[250, 400]}
      sizes="(max-width: 400px) 75vw, 200px"
      alt={title}
      aspectRatio="4:3"
      fit="inside"
    /> -->
  <img src={src} />
  <h2 class="text-xl sm:text-2xl leading-tight mb-2 font-heading">
    {link.title}
  </h2>
  <i class="my-2 block"><a href={link.link} class="cleanlink">{link.domain}</a></i>
  <p class="my-2" set:html={link.note} />
</div>
