---
import { type CollectionEntry } from 'astro:content';
import ContentImage from '~/components/common/ContentImage.astro';
import defaultPostImage from '../assets/images/defaults/blog-chinchilla.jpg';
import { slugify } from '~/utils/slugify';

export interface Props {
  newsletter: CollectionEntry<'newsletters'>;
}
const { newsletter } = Astro.props;
// const { Content } = await post.render();
// const featured_image = await findImage(newsletter.data.image);
// TODO: Why is slug broken again?

// Format date
// TODO: Method
var rawDate = new Date(newsletter.data.date);
var formattedDate = rawDate.toLocaleString('en-GB', {
  dateStyle: 'short',
  timeZone: 'UTC',
});

var idOfTitle = slugify(newsletter.data.title);
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${newsletter.data.image ? 'md:grid-cols-2' : ''}`}>
  <div class="relative h-0 pb-[56.25%] md:pb-[75%] lg:pb-[56.25%] overflow-hiddenrounded drop-shadow-lg">
    <ContentImage
      src={newsletter.data.image}
      alt={newsletter.data.title}
      type="newsletter"
      class="absolute object-contain h-full mb-6 rounded drop-shadow-lg"
    />
  </div>
  <div>
    <header>
      <h2
        class="text-xl sm:text-2xl font-semibold leading-tight mb-2 font-subheading"
        id={idOfTitle}
      >
        <a
          class="hover:text-primary transition ease-in duration-200"
          href=`newsletter/${newsletter.id}`
          rel="canonical"
        >
          {newsletter.data.title}</a
        >
      </h2>
      <i>{formattedDate}</i>
    </header>
    <div class="post-body body whitespace-pre-line">
      {newsletter.data.summary}
    </div>
  </div>
</article>
