---
import Spotify from "react-spotify-embed";

export interface Props {
  name: string;
  description: string;
  id: string;
}

const { name, description, id } = Astro.props;
var url = `https://open.spotify.com/episode/${id}`;
---

<a href={url} class="cleanlink">
<li class="link-card">
  <Spotify link={url} />
  <span class="column">
    <h2>
      {name}
    </h2>
    <p>
      {description}
    </p>
  </span>
</li>
</a>