---
import { Image } from 'astro:assets';
import ContentImage from '~/components/common/ContentImage.astro';
import Tags from '~/components/common/Tags.astro';
import defaultPostImage from '../assets/images/defaults/blog-chinchilla.jpg'

import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
// const { Content } = await post.render();
// const featured_image = await findImage(post.data.image);

// Format date
// TODO: Method
var rawDate = new Date(post.data.publishDate);
var formattedDate = rawDate.toLocaleString('en-GB', {
  dateStyle: 'short',
  timeZone: 'UTC',
});

// What sort of URL
var url = '';
if (post.data.publication_url != null) {
  url = post.data.publication_url;
} else {
  url = '/blog/' + post.id;
}
---

<article class="mb-6 transition px-4">
  <div class="relative md:h-72 max-w-6xl mx-auto rounded drop-shadow-lg mb-6">
    <ContentImage
      src={post.data.image}
      alt={post.data.title}
      type="post"
      class="object-contain md:h-full mb-6 rounded drop-shadow-lg"
    />
  </div>

  <div>
    <header>
      <h2 class="text-xl sm:text-2xl leading-tight mb-2 font-subheading font-semibold">
        {
          url ? (
            <a
              class="hover:text-primary transition ease-in duration-200"
              href={url}
              rel="canonical"
            >
              {post.data.title}
            </a>
          ) : (
            post.data.title
          )
        }
      </h2>
      <i class="my-2 block">{formattedDate}</i>
    </header>
    <div class="post-body body">
      {post.data.summary}
    </div>
  </div>
  {
    post.data.tags && Array.isArray(post.data.tags) ? (
      <footer class="mt-2">
        <Tags tags={post.data.tags} />
      </footer>
    ) : (
      <Fragment />
    )
  }
</article>
