---
import { Picture } from "@astrojs/image/components";

export interface Props {
  title: string;
  body: string;
  href: string;
  date: string;
  publication_url?: string;
  image: string;
}

const { href, title, body, date, publication_url, image } = Astro.props;
// const { Content } = Astro.props.post

// Default images
var src = "";
if (image != null) {
  src = image;
} else {
  src = "/images/default.png";
}

// Format date
var rawDate = new Date(date);
var formattedDate = rawDate.toLocaleString("en-GB", {
  dateStyle: "short",
  timeZone: "UTC",
});

// What sort of URL
var url = "";
if (publication_url != null) {
  url = publication_url;
} else {
  url = href;
}

// Truncate text
// TODO: Better way?
// TODO: Make to helper or plugin
var truncatedText = body.split("</p>");
---

<a href={url} class="cleanlink">
  <li class="link-card">
    <Picture
      src={src}
      widths={[250, 400]}
      sizes="(max-width: 400px) 75vw, 200px"
      alt={title}
      aspectRatio="4:3"
      fit="inside"
    />

    <span class="column">
      <h2>
        {title}
        <span>&rarr;</span>
      </h2>
      <i>{formattedDate}</i>
      <p set:html={truncatedText[0]} />
    </span>
  </li>
</a>
