---
import { YouTube } from "@astro-community/astro-embed-youtube";

export interface Props {
  name: string;
  snippet: string;
  id: string;
}

const { name, snippet, id } = Astro.props;
var url = `https://youtu.be/${id}`;
---

<a href={url} class="cleanlink">
  <li class="link-card">
    <YouTube id={id} />

    <span class="column">
      <h2>
        {name}
      </h2>
      <p>
        {snippet}
      </p>
    </span>
  </li>
</a>
