---
import MarkdownPostLayout from '../../layouts/MarkdownLayout.astro';
import { getCollection } from 'astro:content';
import ImageComponent from '../../components/ImageComponent.astro';

export async function getStaticPaths() {
  const bookEntries = await getCollection('books');
  return bookEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MarkdownPostLayout frontmatter={entry.data}>
  <ImageComponent
  imagePath={entry.data.image}
  altText={entry.data.title}
  classes="md:object-cover w-full md:w-auto md:h-full rounded drop-shadow-lg bg-gray-400 dark:bg-slate-700"
/>
  {
    entry.data.store_urls && (
      
        <b class="my-2 block">Buy a copy in the following places:</b>
        <ul class="list-disc list-inside m-2">
          {entry.data.store_urls.map((store_url) => (
            <li>
              <a href={store_url.url}>{store_url.label}</a>
            </li>
          ))}
        </ul>
      
    )
  }
  <Content />
</MarkdownPostLayout>
