---
import MarkdownPostLayout from '../../layouts/MarkdownLayout.astro';
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';
import defaultPostImage from '/src/assets/images/defaults/book-chinchilla.jpg';
import Link from '../../components/Link.astro';

export async function getStaticPaths() {
  const newsletterEntried = await getCollection('newsletters');
  return newsletterEntried.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const links = await fetch(`https://api.raindrop.io/rest/v1/raindrops/45559645?sort=-created&search=${entry.id}`, {
  method: 'GET',
  headers: {
    Authorization: `Bearer ${import.meta.env.RAINDROP}`,
  },
})
  .then((response) => response.json())
  .then((response) => Object.values(response.items).filter(item => {
    const createdDate = new Date(item.created);
    return createdDate <= entry.data.date;
  }))
---

<MarkdownPostLayout frontmatter={entry.data}>
  <Image
  src={entry.data.image ? entry.data.image : defaultPostImage}
  alt={entry.data.title}
  class="object-contain h-full mb-6 rounded drop-shadow-lg"
/>
  <Content />
  <ul>
    {
      links.map((link) => (
        <li class="mb-12 md:mb-20 list-none">
          <Link link={link} />
        </li>
      ))
    }
  </ul>
</MarkdownPostLayout>
