---
import { Picture } from '@astrojs/image/components';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;

// What sort of URL
var url = "";
if (post.publication_url != null) {
  url = post.publication_url;
} else {
  // TODO: Better way? Why is the slug wrong?
  url = `blog${getPermalink(post.id, 'post')}`.replace(".md","");
}

const image = await findImage(post.image);
---

<article class="mb-6 transition">
  <div class="relative md:h-64 bg-gray-400 dark:bg-slate-700 rounded drop-shadow-lg mb-6">
    {
      image && (
        <Picture
          src={image}
          class="md:object-cover w-full md:w-auto md:h-full rounded drop-shadow-lg bg-gray-400 dark:bg-slate-700"
          widths={[400, 900]}
          sizes="(max-width: 900px) 400px, 900px"
          alt={post.title}
          aspectRatio="16:9"
          loading="lazy"
          decoding="async"
          fetchpriority="auto"
        />
      )
    }
  </div>
  <h3 class="mb-2 text-xl leading-tight sm:text-2xl font-heading font-semibold">
    {
      BLOG?.post?.disabled ? (
        post.title
      ) : (
        <a
        href={url} rel="canonical"
          class="hover:text-primary-800 dark:hover:text-primary-700  transition ease-in duration-200"
        >
          {post.title}
        </a>
      )
    }
  </h3>
  <p class="text-gray-500 dark:text-slate-400 text-lg">{post.description}</p>
</article>
