---
import Layout from '~/layouts/PageLayoutNoBG.astro';
import Headline from '~/components/blog/Headline.astro';
import Story from '~/components/Story.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const allStories = await getCollection('stories');
  const uniqueTags = [...new Set(allStories.map((story) => story.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredStories = allStories.filter((story) => story.data.tags?.includes(tag));
    return {
      params: { tag },
      props: { stories: filteredStories },
    };
  });
}

const { tag } = Astro.params;
const { stories } = Astro.props as { stories: CollectionEntry<'stories'>[] };
const meta = {
  title: tag,
  description: `Stories tagged with ${tag}`,
  noindex: true,
};
---

<Layout {meta}>
  <section class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
    <Headline subtitle={meta.description}>
      {meta.title}
    </Headline>
    <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3 -mb-6">
      {stories.map((story) => <Story story={story} />)}
    </div>
  </section>
</Layout>
