---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import Breadcrumb from '~/components/common/Breadcrumb.astro';
import ContentImage from '~/components/common/ContentImage.astro';
import { type CollectionEntry } from 'astro:content';
import truncateMarkdown from 'markdown-truncate';
import { MetaSEO } from '~/types';

export interface Props {}

const { frontmatter } = Astro.props;

export interface Props {
  podcast: CollectionEntry<'podcasts'>;
}
const { podcast, episodeData } = Astro.props;
const urlParams = new URLSearchParams(podcast.enclosure.att_url);
const podcastID = urlParams.get('awEpisodeId')
const meta: MetaSEO = {
  title: frontmatter?.title,
  image: podcast.image.att_href,
  // TODO: Switch to using manual FM override
  description: truncateMarkdown(podcast.description, { limit: 400, ellipsis: true })
};

// TODO: For some reason CS podcast has duplicate titles?
let episodeTitle = '';
if (podcast.title.length === 2) {
  episodeTitle = podcast.title[0];
} else {
  episodeTitle = podcast.title;
}

// Generate breadcrumb items
const breadcrumbItems = [
  { label: 'Home', href: '/' },
  { label: 'Podcast', href: '/podcast' },
  { label: episodeTitle },
];
---

<Layout {meta}>
  <Announcement />
  <Header />
  <main>
    <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
      <Breadcrumb items={breadcrumbItems} />
      <h1 class="font-bold font-heading text-3xl md:text-4xl leading-tighter tracking-tighter">{episodeTitle}</h1>
      <div
        class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
      >
        <article class="max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 md:grid-cols-2">
          <div class="relative h-0 pb-[75%] md:pb-[100%] lg:pb-[75%] overflow-hidden rounded drop-shadow-lg">
            <ContentImage
              src={podcast.image ? podcast.image.att_href : '../../assets/images/default.png'}
              alt={episodeTitle}
              type="podcast"
              width={420}
              height={420}
              quality={80}
              format="webp"
              loading="eager"
              decoding="async"
              class="absolute object-contain h-full rounded drop-shadow-lg"
            />
          </div>

          <div class="mt-2">
            <!-- TODO: Improve this -->
            <div class="my-2" set:html={truncateMarkdown(podcast.description, { limit: 2000, ellipsis: true })} />
            <h2 class="text-xl sm:text-2xl leading-tight mb-2 font-heading">Listen and download</h2>
            {podcastID ?
            <iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src=`https://player.simplecast.com/${podcastID}`></iframe>
            : <audio controls src={podcast.enclosure.att_url} preload="none"></audio>
          }
          </div>
        </article>
      </div>
    </section>

  </main>

  <Footer />
</Layout>
